<div class="document-header">
    <div class="row">
        <div class="col-md-5">
            <div class="document-sort active" id="document-sort-name" title="сортировать по имени" onclick="sortNameCheck()">↓</div>
        </div>
        <div class="col-md-2">
            <div class="document-sort" id="document-sort-author" title="сортировать по автору" onclick="sortAuthorCheck()">↓</div>
        </div>
        <div class="col-md-2">
            <div class="document-sort" id="document-sort-date" title="сортировать по дате" onclick="sortDateCheck()">↓</div>
        </div>
        <div class="col-md-3">
            <input class="document-search" placeholder="поиск"/>
        </div>
    </div>
</div>