@using Goldenpineappleofthesun.Database.Models;
@model IEnumerable<DocumentItem>

@{
    ViewBag.Title = "Home Page";
    var docs = Model;
}

<style>
    .jumbotron {
        background: #e2e6c1; 
    }
    .document {    
        border-bottom: 1px solid #cacaca;
        height: 50px;
    }
    .document-name {
        display: inline-block;
        margin-right: 32px;
    }
    .document-author {
        display: inline-block;
        margin-right: 32px;
        font-size: 0.8em;
        background: #aad080;
        border-radius: 6px;
        padding: 0 16px;
    }
    .document-author:before {
        content: 'автор: ';
        font-size: 10px;
    }
    .document-date {
        display: inline-block;
        font-size: 0.6em;
    }
    .document-date:before {
        content: 'создан: ';
        font-size: 10px;
    }
    .document-link {   
        height: 50px;
        color: #5c5cb3;
        font-size: 0.7em;
        line-height: 50px;
        font-style: italic;
        cursor: default;
    }
    .document-link:hover {    
        color: #0f2ae8;
        border-bottom: 2px solid #0f2ae8;
    }
    .document-del {
        height: 50px;
        color: #ef5252;
        font-size: 0.7em;
        line-height: 50px;
        font-style: italic;
        cursor: default;
    }
    .document-del:hover {    
        color: #ff0101;
        border-bottom: 2px solid red;
    }
    .upload-button {    
        margin: 32px 0 16px 0;
        padding: 4px 12px;
        border: 1px solid #928d8d;
        border-bottom: 3px solid #928d8d;
        border-radius: 5px;
        font-size: 13px;
    }
</style>

<div class="jumbotron">
    <h1>Файловое хранилище</h1>

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data", @class = "upload-form"}))
            {
                <input type="button" onclick="$('#load-file')[0].click()" value="Загрузить новый файл" class="upload-button"/>
                <input id="load-file" type="file" name="upload" style="display:none"/>
                <input id="submit-file" type="submit" value="Загрузить" style="display:none"/>
            }

            @foreach (var item in docs)
            {
                @Html.EditorFor(m => item, "Document");
            }
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script>
    /*** нажатие на кнопку "Загрузить файл" ***/
    $('#load-file').on('change', function (event) {
        var file = this.files[0];
        var reader = new FileReader();

        reader.readAsDataURL(file);

        // как только фото загружено
        reader.onload = function (event) {
            $('#submit-file').click();
        }
    })

    /*** удалить файл ***/
    function deleteDocument(element, login, name) {
        $(element).remove();
        $.ajax({
            url: "@(Url.Action("Delete", "File"))",
            method: "POST",
            data: {
                login: login,
                name: name
            }
        })
    }

    /*** открыть файл ***/
    function openFile(path) {
        $.ajax({
            url: "@(Url.Action("Open", "File"))",
            method: "POST",
            data: {
                path: path
            }
        })
    }
</script>